 body{
    font-family: Arial, sans-serif;
    background-color: #9cdcf3;
    margin: 0;
    padding: 0; 
} 

h2{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}
.table {
      
      margin: auto;
      background-color: azure;
      border-width: 5px;
    border-color: black;
    
    }
.td {
      border: 1px solid black;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 12px;
      background-color: yellow;
      border-radius: 10px;
      
    }
    .td1 {
      border: 1px solid black;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 12px;
      background-color: rgb(241, 12, 77);
      border-radius: 10px;
      
    }
    .td2 {
      border: 1px solid black;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 12px;
      background-color: rgb(12, 121, 241);
      border-radius: 10px;
      
      
    }
    .td3 {
      border: 1px solid black;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 12px;
      background-color: rgb(12, 241, 121);
      border-radius: 10px;
    }
    .td4 {
      border: 1px solid black;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 12px;
      background-color: rgb(121, 12, 241);
      border-radius: 10px;
    }
    .td5 {
      border: 1px solid black;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 12px;
      background-color: rgb(241, 121, 12);
      border-radius: 10px;
    }
.empty {
      border: none;
    }
.red {
      background-color: red;
    }   
